* {
  margin: 0;
  padding: 0;
  color: black;
}
button {
  color: black;
  padding: 1vh;
  border-radius: 1vh 1vh 1vh 1vh;
  margin: 1vh;
}
.head {
  color: azure;
}

.sec1 {
  min-height: 10vh;
  color: azure;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/2-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.header {
  font-family: fantasy;
  font-size: 7vh;
  padding-top: 20%;
  margin-left: 20%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b6b6b6;
}
.dpdn {
  padding: 1ch;
}
